<div class="center-screen">
    <p class="big-font">{{content}}</p>
    <div class="progress">
        <div id="yes-bar" class="progress-bar progress-bar-success" role="progress-bar">{{yes_count}}</div>
        <div id="no-bar" class="progress-bar progress-bar-danger" role="progress-bar">{{no_count}}</div>
    </div>
    <button class="btn btn-primary" onclick="location.href='/'">
        Next question
    </button>
</div>
<script type="text/javascript">
    var a = {{yes_count}};
    var b = {{no_count}};
    var c = a + b;
    document.getElementById('yes-bar').style.width = (100 * a / c) + "%";
    document.getElementById('no-bar').style.width = (100 * b / c) + "%";
</script>